@model Post
@using static AppMVC.Views.Shared.Components.CategorySideBar.CategorySideBar

@{
    List<Category> categories = ViewBag.Categories as List<Category>;
    Category category = ViewBag.category as Category;
    IQueryable<Post> othetPosts = ViewBag.otherPosts;
    
    // ViewData["Title"] = (category != null) ? category.Title : "Categories";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        @if (category != null)
        {
            var list = category.ListParents();
            foreach (var l in list)
            {
                <li class="breadcrumb-item active">
                    <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
                </li>
            }
            <li class="breadcrumb-item active">
                <a asp-action="Index" asp-route-categoryslug="@category.Slug">@category.Title</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
        }
    </ol>
</nav>

<div class="detailpost">
    <h1>@Model.Title</h1>
    <div class="sapo">
        @Model.Description
    </div>
    <div>
        <i>Update: @Model.DateUpdated</i> /
        Author: <strong>@Model.Author.UserName</strong>
    </div>
    <hr />
    @Html.Raw(Model.Content)
</div>

@section Sidebar {
    @await Component.InvokeAsync("AppMVC.Views.Shared.Components.CategorySideBar.CategorySideBar", new CategorySideBarData()
    {
        categories = categories,
        level = 0,
        categoryslug = category.Slug
    })

    <h4>Other posts:</h4>
    <ul class="detailpost">
        @foreach (var p in othetPosts)
        {
            <li >
                <a asp-controller="ViewPost" asp-action="Details" asp-route-postslug="@p.Slug">
                    @p.Title
                </a>
            </li>
        }
    </ul>
}