@model AppMVC.Models.Blog.Post

@{
    ViewData["Title"] = "Details";
    
    var username = User.Identity.Name;

}

<div>
    <div class="d-flex justify-content-between align-items-center">
        <h4>Post</h4>
        <div>
            @if (!Model.Published)
            {
                <a class="btn btn-danger me-2" asp-action="UnapproveNotification" asp-controller="Post" asp-area="Blog" asp-route-id="@Model.PostId">Unapprove</a>
                <a class="btn btn-success" asp-action="ApproveNotification" asp-controller="Post" asp-area="Blog" asp-route-id="@Model.PostId">Approve</a>
            }
        </div>
    </div>

    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Published ? "Approved" : "Unapproved")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    @if (username == Model.Author.UserName)
    {
        <a asp-action="Edit" asp-route-id="@Model.PostId">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
