@model IEnumerable<AppMVC.Models.Blog.Post>

@{
    ViewData["Title"] = "Index";

    var username = User.Identity.Name;
}

@await Html.PartialAsync("_StatusMessage")
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        ++ViewBag.postIndex;
                    }
                    @ViewBag.postIndex
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a>
                    <br />

                    <div class="h6">
                        @string.Join(",",item.PostCategories.Select(AppContext => AppContext.Category.Title))

                    </div>

                </td>
                <td>
                    @if (!item.Published)
                    {
                        <a asp-action="Details" asp-route-id="@item.PostId">Unapproved</a>
                    }
                    else
                    {
                        <span>Approved</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @if (username == item.Author.UserName)
                    {
                        <a asp-action="Edit" asp-route-id="@item.PostId">Edit |</a>
                    }
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />
